---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title='T E S L A'>
	<Header />
	<main
		class='snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scroll-smooth'
	>
		<Section
			title='Disfrute de Tesla'
			subtitle='Programe una prueba de conducción hoy mismo'
			color='white'
		>
			<div slot='footer'>
				<a
					href='#'
					class={`text-white border-[3px] border-white text-sm rounded font-medium px-12 py-2 inline-block hover:text-black hover:bg-white transition-colors`}
					>Prueba de conducción</a
				>
			</div>
			<video
				src='/video.webm'
				autoplay
				muted
				loop
				class='object-center object-cover h-full w-full'
				slot='background'></video>
		</Section>
		<Section
			title='Model Y'
			subtitle='Concertar una prueba de conducción'
			color='black'
		>
			<div class='flex gap-x-6 mx-auto' slot='footer'>
				<a
					href='#'
					class='border-[3px] border-gray-600 bg-gray-600 text-white text-sm rounded font-medium px-12 py-2 inline-block'
					>Explorar inventario</a
				>
				<a
					href='#'
					class='border-[3px] border-white bg-white text-sm rounded font-medium px-12 py-2 inline-block hover:text-black hover:bg-white transition-colors'
					>Pedido personalizado</a
				>
			</div>
			<img
				src='/model-y.avif'
				alt='model y'
				class='object-center object-cover h-full w-full'
				slot='background'
			/>
		</Section>
	</main>
</Layout>
